.sec3{
    box-sizing: border-box;
    font-family: 'Avenir-Local', Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    gap: 30px;
    padding-left: 200px;
    padding-bottom: 40px;
    align-items: center;
}
.sec3-lb{
    font-size: 35px;
}
.sec3-in{
    border: none;
    height: 60px;
    width: 60%;
    background-color: #dad9d9;

}

@media(max-width:1100px){
    .sec3{
        box-sizing: border-box;
        font-family: 'Avenir-Local', Avenir, Helvetica, Arial, sans-serif;
        display: flex;
        gap: 30px;
        padding: 10px 30px;
        align-items: center;
        width: 100%;
    }
    .sec3-lb{
        font-size: 20px;
    }
}